WARMUP SECTION:

Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [2]:
def lesser_of_two_evens(a,b):
    
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    
    else:
        return max(a,b)

In [4]:
lesser_of_two_evens(2,8)

2

In [11]:
lesser_of_two_evens(5,6)

6

Write a function takes a two-word string and returns True if both words begin with same letter.

In [18]:
def myfunc(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [19]:
myfunc('Abhi Adi')

True

In [20]:
myfunc('crazy kangaroo')

False

In [21]:
myfunc('Gourang Gourav')

True

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [54]:
def marks_twenty(a,b):
    if a+b == 20:
        return True
    elif a == 20 or b == 20:
        return True
    else:
        return False

In [59]:
marks_twenty(20,0)

True

In [60]:
marks_twenty(55,66)

False

In [61]:
marks_twenty(12,8)

True

In [63]:
#Another way
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [64]:
marks_twenty(55,66)

False

In [65]:
marks_twenty(12,8)

True

In [66]:
marks_twenty(20,55)

True

LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [79]:
def old_macdonald(text):
    if len(text) > 3:
        return text[:3].capitalize() + text[3:].capitalize()
    else:
        return ('Text is too small')

In [81]:
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed

In [7]:
def master_yoda(text):
    wordlist = text.split()
    reversed_list = wordlist[::-1]
    return ' '.join(reversed_list)

In [8]:
master_yoda('I am going to college')

'college to going am I'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [10]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [11]:
almost_there(91)

True

In [12]:
almost_there(150)

False

In [13]:
almost_there(206)

True

In [14]:
almost_there(66)

False

LEVEL 2 PROBLEMS:

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1,3,3]) → True
has_33([1,3,1,3]) → False
has_33([3,1,3]) → False

In [12]:
def has_33(nums):
    for i in range (0,len(nums)-1):
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
        
        if nums[i:i+2] == [3,3]:
            return True
        
    return False

In [13]:
has_33([1,3,3])

True

In [14]:
has_33([1,3,1,3])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [16]:
def paper_doll(text):
    result = ''
    for char in text:
        result += 3*char
    return result

In [17]:
paper_doll('Hello')

'HHHeeellllllooo'

In [18]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [8]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    
    elif 11 in [a,b,c] and sum([a,b,c])-10 <= 21:
        return sum([a,b,c])-10
    else:
        return "Bust"

In [9]:
blackjack(5,6,7)

18

In [10]:
blackjack(9,9,11)

19

In [11]:
blackjack(9,9,9)

'Bust'


SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1,3,5]) --> 9
summer_69([4,5,6,7,8,9]) --> 9
summer_69([2,1,6,9,11]) --> 14

In [12]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [13]:
summer_69([1, 3, 5])

9

In [14]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [15]:
summer_69([2, 1, 6, 9, 11])

14