In [27]:
#Right angle star ...

In [34]:
n=int(input("Enter the value of row:"))
for i in range(1,n+1):
    for j in range(1,i+1) :
        print(" ",end='*')
    print()

Enter the value of row:6
 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *

In [31]:
n=int(input("Enter the value of row:"))
for i in range(1,n+1):
    for j in range(1,i+1) :
        if row==n and col==n:
            print('#',end='')
        elif     
        )
    print()

SyntaxError: invalid syntax (<ipython-input-31-007295995ef8>, line 6)

In [31]:
#right angle star pattern via while loop......

In [3]:
num=int(input("Enter the value of row:"))
row=0
while row<num:
    star=row+1
    while star>0:
        print('*',end='')
        star=star-1
    row=row+1
    print()

Enter the value of row:5
*
**
***
****
*****

In [ ]:
#Hollow right angled triangle star..

In [7]:
n=int(input("Enter the value of row:"))
for row in range(n):
    for col in range(n):
        if col==0 or row==(n-1) or row==col:
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter the value of row:5
*
**
* *
*  *
*****

In [27]:
n=int(input("Enter the value of row:"))
for row in range(n):
    for col in range(n):
        if row==0 or col==(n-1) or row==col:
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter the value of row:5
*****
 *  *
  * *
   **
    *

In [6]:
n=int(input("Enter the value of row:"))
for i in range(1,n+1):
    for j in range(1,i+1) :
        print(i,end="")
    print()

Enter the value of row:5
1
22
333
4444
55555

In [11]:
n=int(input("Enter the value of row:"))
for i in range(1,n+1):
    for j in range(1,i+1) :
        print(j,end="")
    print()

Enter the value of row:5
1
12
123
1234
12345

In [14]:
n=int(input("Enter the value of row:"))
for row in range(n,0,-1):
    for col in range(1,row+1):
            print(row,end="")
        
    print()

Enter the value of row:5
55555
4444
333
22
1

In [15]:
n=int(input("Enter the value of row:"))
for row in range(n,0,-1):
    for col in range(1,row+1):
            print(col,end="")
        
    print()

Enter the value of row:5
12345
1234
123
12
1

In [16]:
#Hacker_rank

In [13]:
n = int(input("enter no."))
for i in range (n):
      print(i**2)

enter no.5
0
1
4
9
16

In [5]:
 n = int(input())
for n in range(2,5):
    if n%2==0:
        print("Not Weird") 
    elif n%2!=0:
        print('Weird')
print()

5
Not Weird
Weird
Not Weird

In [6]:
n = int(input())
if n in range (2,5) and n%2==0:
        print('Not Weird')
elif n in range (6,20) and n%2==0:
     print('Weird')
elif n>20 and n%2==0:
    print('Not Weird')
else:
    n%2!=0
    print('Weird')

2
Not Weird